files:
  "/etc/nginx/conf.d/elasticbeanstalk/01_static_files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Configuración estándar para servir archivos estáticos desde STATIC_ROOT
      location /static/ {
          alias /usr/src/app/staticfiles/;
          expires max;
          add_header Cache-Control public;
      }