files:
  "/etc/nginx/conf.d/elasticbeanstalk/01_static_files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # 1. Sirve la carpeta 'staticfiles' general
      location /static/ {
          alias /usr/src/app/staticfiles/;
          expires max;
          add_header Cache-Control public;
      }
      
      # 2. Mapeo específico para la carpeta de DRF Spectacular (la que te da problemas)
      # Buscamos la librería directamente en el venv (/opt/venv/lib/...)
      location /static/drf_spectacular/ {
          alias /opt/venv/lib/python3.11/site-packages/drf_spectacular/static/drf_spectacular/;
          expires max;
          add_header Cache-Control public;
      }