files:
  "/etc/nginx/conf.d/elasticbeanstalk/01_static_files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Nginx debe servir los archivos estáticos desde la carpeta 'staticfiles'
      location /static/ {
          root /usr/src/app/;
          expires max;
          add_header Cache-Control public;
      }
      
      # Si DRF Spectacular busca el archivo en la raíz del dominio, esto podría ayudar
      location /drf_spectacular/ {
          root /usr/local/lib/python3.11/site-packages/;
          expires max;
          add_header Cache-Control public;
      }